<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enableG722</key>
	<true/>
	<key>enablespeex32</key>
	<true/>
	<key>enablespeex16</key>
	<true/>
	<key>enablespeex8</key>
	<true/>
	<key>enableG729</key>
	<true/>
	<key>enableGSM</key>
	<true/>
	<key>enableG7221</key>
	<true/>
	<key>enableG711a</key>
	<true/>
	<key>enableG711u</key>
	<true/>
	<key>enableiLBC</key>
	<true/>
</dict>
</plist>
